body {
    width: 950px;
    margin: 0 auto;
    padding: 20px;
}

#photos {
    border: 2px solid black;
    border-radius: 10px;
    padding:10px;

}

img {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-left: 15px;
    border-radius: 10px;
}

img_one {
    float: left;
}

img_three {
    float: right;
}

div {
    margin: 20px 20px;
    width: 660px;
    margin: 0 auto;
}