body {
    width: 950px;
    margin: 0 auto;
}

#photos {
    border: 2px solid black;
    border-radius: 10px;
    padding:10px;

}

img {
    width: 200px;
    height: 200px;
}

img_one {
    float: left;
}

img_three {
    float: right;
}